
//Animations

@keyframes spin
  0%
    -webkit-transform: rotate(360deg);
  100%
    -webkit-transform: rotate(0deg);

.is_spinning
  -webkit-animation: spin 6s infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;